<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060001868168-d6hufrdmck7r0tcit7qmbitrt2epfoqp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060001868168-d6hufrdmck7r0tcit7qmbitrt2epfoqp</string>
	<key>API_KEY</key>
	<string>AIzaSyAMNbNI-MqOLgcROe0fEOUWJ59fB1nVliU</string>
	<key>GCM_SENDER_ID</key>
	<string>1060001868168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceApp</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-229e7</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-229e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060001868168:ios:1c4d0e158fc9b508cbb23d</string>
</dict>
</plist>